/* .titleTextBox {
	
	padding: 50px;
	height: 40vh;
	display: flex;
	flex-direction: column;
	color: rgb(4, 4, 1);
	justify-content: center;
	align-items: start;
	@media (min-width: 768px) {
		padding: 150px;
	}
	h1 {
		width: 100%;
		text-align: start;
	}
	width: 100;
	text-align: center;
	.form-control {
		width: 30%;
	}
	
}
 */

.titleTextBox {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
