@font-face {
	font-family: "digital";
	src: url("../fonts/ds-digi.ttf");
}

.clock-container {
	font-family: "digital", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	background-color: rgb(33, 32, 32);
	color: greenyellow;
	padding: 20px;
    display: inline-flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

    .time{
        font-size: 6rem;
    }
    .day{
        font-size: 2rem;
        text-align: center;
        
    }
    
}
